@{
    ViewBag.Title = "Thông tin";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            SGU
            <small>Restaurant</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/Content/Images/Info/restaurant.gif" alt="">
    </div>
    <div class="col-md-6">
        <h2>Thông tin nhà hàng</h2>
        <p>Nhà hàng SGU thiết kế theo phong cách vừa truyền thống vừa mang nét hiện đại. Kiến trúc sang trọng kết hợp với ánh sáng đèn dịu nhẹ tạo cảm giác đặc biệt hơn cho du khách khi thưởng thức ẩm thực tại đây.</p>
        <p>Nhà hàng có sức chứa hơn 50 khách và có đội ngũ nhân viên được đào tạo phong cách phục vụ chuyên nghiệp.</p>
        <p>Thực đơn của nhà hàng rất đa dạng, phong phú đáp ứng nhu cầu của mọi thực khách.</p>
    </div>
</div>
<!-- /.row -->
<!-- Team Members -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Đội ngũ nhân viên</h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/manage.jpg" alt="">
            <div class="caption">
                <h3>
                    Toàn Trương<br>
                    <small>Quản lý</small>
                </h3>
                <p>Quản lý nhà hàng. Hỗ trợ và giải đáp mọi thông tin giúp thực khách thoải mái lựa chọn dịch vụ.<br /></p>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-2x fa-facebook-square">sgu@gmail.com</i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-2x fa-linkedin-square">08-3 123 312</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/beptruong.jpg" alt="">
            <div class="caption">
                <h3>
                    Long Trần<br>
                    <small>Bếp trưởng</small>
                </h3>
                <p>Với kinh nghiệm lâu năm trong nghề. Sẵn sàng đáp ứng và phục vụ những thực khách khó tính nhất.</p>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-2x fa-facebook-square">thlogn@gmail.com</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/nhanvien.jpg" alt="">
            <div class="caption">
                <h3>
                    Phục vụ<br>
                    <small>Nhân viên</small>
                </h3>
                <p>Với số lượng 20 nhân viên được đào tạo bài bản chuyên nghiệp, phục vụ tốt nhất cho thực khách.</p>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Our Customers -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Đối tác</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/donafood.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/pepsi.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/acfood.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/vinaace.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/chinsu.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="~/Content/Images/Info/aquafina.jpg" alt="" style="border:thin">
    </div>
</div>
<!-- /.row -->

<hr>