@{
    ViewBag.Title = "Gửi email xác nhận";
}
<h2>@ViewBag.Title.</h2>

@if(Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<div class="row">
    <div class="col-md-8">
        <p>Cảm ơn bạn đã đăng ký</p>
        <p>Vui lòng xác nhận qua email được gửi và Inbox <strong>@ViewBag.Email</strong> của bạn để hoàn tất việc đăng ký</p>
    </div>
</div>  