@{
    ViewBag.Title = "Thay đổi mật khẩu thành công";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mật khẩu của bạn đã được thay đổi thành công. Vui lòng @Html.ActionLink("nhấp vào để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
