@model SGURestaurant.Models.Meal

@{
    ViewBag.Title = "Xóa món ăn";
}

<h2>@ViewBag.Title</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Trở lại danh sách", "Index")
        </div>
    }
</div>
