body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    margin-top: 20px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Navigation */

.nav-me {
    background-color: #EC173A;
}

ul.nav li a, ul.nav li a:visited {
    color: #FFF !important;
    font-size: 16px !important;
}

ul.nav li a:hover, ul.nav li a:active {
    text-shadow: 0px 0px 3px;
    font-size: 16px !important;
}

ul.nav li.active a {
    color: #09C !important;
    font-size: 16px !important;
}

a.navbar-brand {
    font-weight:bold;
    font-size: 18px !important;
    color:#FFF !important;
}

.navbar-inverse {
    border:none;
}

body {
    background: #EFEFEF;
}

.body-content {
    background: #FFF;
}

.jumbotron {
    background: #FFF;
    padding-top:0px;
}

.thumbnail img{
    display: inline-block;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

.caption {
    height: auto;
}