
@{
    ViewBag.Title = "Index";
}


<h3>Tổng quan</h3>

<div class="row box-gray">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="smallstat box">
                <div class="boxchart float-left">
                    <img class="stat-img" src="~/Content/Images/stat_user.png" />
                </div>
                <p class="box-title">Người dùng</p>
                <p class="box-value">@ViewData["user-count"]</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="smallstat box">
                <div class="boxchart float-left">
                    <img class="stat-img" src="~/Content/Images/stat_product.png" />
                </div>
                <p class="box-title">Món ăn</p>
                <p class="box-value">@ViewData["meal-count"]</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="smallstat box">
                <div class="boxchart float-left">
                    <img class="stat-img" src="~/Content/Images/stat_cart.png" />
                </div>
                <p class="box-title">Đặt món</p>
                <p class="box-value">@ViewData["booking-count"]</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="smallstat box">
                <div class="boxchart float-left">
                    <img class="stat-img" src="~/Content/Images/stat_money.png" />
                </div>
                <p class="box-title">Doanh thu</p>
                <p class="box-value">@ViewData["income"]</p>
            </div>
        </div>
    </div>
</div>


