@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        @Html.ActionLink("Chào " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
    }
}
else
{
    <li>@Html.ActionLink("Đăng ký", "Register", "Account", new { ReturnUrl = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Đăng nhập", "Login", "Account", new { ReturnUrl = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "loginLink" })</li>
}
